docker-compose.override.yml
.dockerignore
.env
.docker/*
.vscode/*
.idea/
*.iml
.DS_Store
Thumbs.db
backend/src/main/resources/application.properties
backend/src/main/java/unam/ciencias/ids/playbit/controllers/TournamentController.java
